<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.music_buddy_app2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_music"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicBuddyApp2"
        tools:targetApi="31">
        <activity
            android:name=".ACTIVITIES.PROFILE.FindFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.ChooseContextDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.MENUS.ContextRecsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.MENUS.DiscoverGenresMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.SPOTIFY_RECOMMENDATIONS.SeeSpotifyRecommendationsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.SPOTIFY_RECOMMENDATIONS.ChooseArtistForSpotifyRecActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.SPOTIFY_RECOMMENDATIONS.ChooseTracksWithAudioFeaturesForSpotifyRecActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.SPOTIFY_RECOMMENDATIONS.FinalChangesForSpotifyRecommendationsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.SPOTIFY_RECOMMENDATIONS.StartSpotifyRecommendationsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.OTHERS.AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.OTHERS.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.OTHERS.SingleplayerGamesActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.OTHERS.MultiplayerGamesActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.LOGIN.BrowseRecommendationTypesActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.PROFILE.UsersTopItemsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.PROFILE.ProfileActivity"
            android:exported="false" />

        <receiver
            android:name=".SERVICES.API.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.spotify.music.playbackstatechanged" />
                <action android:name="com.spotify.music.metadatachanged" />
                <action android:name="com.spotify.music.queuechanged" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ACTIVITIES.LOGIN.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ACTIVITIES.MENUS.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITIES.LOGIN.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITIES.LOGIN.SpotifyAuthorizationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${redirectHostName}"
                    android:scheme="${redirectSchemeName}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>